<launch>

    <arg name="date" value="2011_09_28" />

    <arg name="kitti_data" value="$(arg date)_drive_0053_sync" />
    <arg name="fps" default="1" />

    <arg name="directory" default="$(find kitti_player)/dataset/$(arg date)/$(arg kitti_data)/"/>


    <node name="kitti_player" pkg="kitti_player" type="kitti_player" args= "-C -d $(arg directory) /kitti_player/color/left/image_rect:=/kitti_player/color/left/image_raw /kitti_player/color/right/image_rect:=/kitti_player/color/right/image_raw"/>


  <node pkg="detectPeople" type="people" name="people" output="screen"></node>
  
  
</launch>
